################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/GitHub/.vs/GitHub/v15
/GitHub/GitHub/obj/Debug/netcoreapp2.0
/GitHub/GitHub/obj
/GitHub/GitHub/bin/Debug/netcoreapp2.0
GitHub/GitHub/appsettings.json
/Books/BookApi/.vs/BookApi/v15
/Books/BookApi/BookApi/obj
/Books/BookApi/BooksApiDbLib/obj
